{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}
    <div id="newArticle">
        <div id="emptyNewArticle">
            <a href="{{ path('app_inventory') }}" id="activesArticles">Articles actifs</a>
            <a href="{{ path('app_inventory_not_actives') }}" id="notActivesArticles">Articles inactifs</a>
            <input type="text" id="search-input-active" placeholder="Rechercher dans les articles actifs...">
        </div>
        <div id="newArticleBtnContainer">
            {% if app.user.roles|first == "ROLE_CAISSIER" %}
            {% elseif app.user.roles|first == "ROLE_MANAGER" %}
                <a href="{{ path('app_inventory_form') }}" id="newArticleBtn">NOUVEL ARTICLE</a>
            {% endif %}
        </div>
    </div>

    <div id="datatableAllArticles">
        <table id="datatableAllArticlesActive">
            <thead>
            <tr>
                <th>Marque</th>
                <th>Produit</th>
                <th>Catégorie</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.category ? product.category.getCategoryName() : '' }}</td>
                    <td>{{ product.price }} €</td>
                    <td>
                        <span id="stock_{{ product.id }}">{{ product.stock }}</span>
                    </td>
                    <td id="actionButtons">
                        {% if app.user.roles|first == "ROLE_CAISSIER" %}
                            <a class="addStockBtn" data-id="{{ product.id }}">
                                <svg height="32px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px"
                                     xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"><g><polyline fill="none"
                                                                                             points="649,137.999 675,137.999 675,155.999 661,155.999" stroke="#FFFFFF"
                                                                                             stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                        <polyline fill="none" points="   653,155.999 649,155.999 649,141.999  " stroke="#FFFFFF"
                                                  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                        <polyline fill="none" points="   661,156 653,162 653,156  " stroke="#FFFFFF"
                                                  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/></g>
                                    <g><path d="M16,30c-3.74,0-7.255-1.456-9.899-4.101C1.779,21.578,0.753,15.025,3.547,
                                                9.595C3.8,9.104,4.402,8.911,4.894,9.163   c0.491,0.252,0.685,0.855,0.432,1.347C2.931,15.165,
                                                3.81,20.781,7.515,24.485C9.781,26.752,12.794,28,16,28   c3.205,0,6.219-1.248,8.485-3.515S28,
                                                19.205,28,16c0-3.206-1.248-6.219-3.515-8.485S19.206,4,16,4   c-3.206,0-6.219,1.249-8.485,
                                                3.515c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414C8.745,3.457,12.26,2,16,2   c3.74,0,7.256,1.457,9.899,4.101C28.544,8.745,30,12.26,30,16c0,3.739-1.456,7.255-4.101,9.899C23.256,28.544,19.74,30,16,30z"/></g><g><path d="M16,22c-0.552,0-1-0.447-1-1V11c0-0.552,0.448-1,1-1s1,0.448,1,1v10C17,21.553,16.552,22,16,22z"/></g><g><path d="M21,17H11c-0.552,0-1-0.448-1-1s0.448-1,1-1h10c0.553,0,1,0.448,1,1S21.553,17,21,17z"/></g></svg>
                            </a>
                            <a class="removeStockBtn" data-id="{{ product.id }}">
                                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;
                                                stroke-width:2px;}</style></defs><title/><g id="minus"><line class="cls-1" x1="7"
                                                                                                             x2="25" y1="16" y2="16"/></g>
                                </svg>
                            </a>
                        {% elseif app.user.roles|first == "ROLE_MANAGER" %}
                            <a href="{{ path('app_inventory_edit', {id: product.id}) }}">
                                <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1"
                                     viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <rect fill="none" height="50" width="50"/><polyline fill="none" points="  42.948,12.532 10.489,44.99 3,47 5.009,39.511 37.468,7.052 " stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path d="M45.749,11.134c-0.005,0.004,0.824-0.825,0.824-0.825c1.901-1.901,1.901-4.983,0.002-6.883c-1.903-1.902-4.984-1.9-6.885,0  c0,0-0.83,0.83-0.825,0.825L45.749,11.134z"/><polygon points="5.191,39.328 10.672,44.809 3.474,46.526 "/></svg>
                            </a>
                            <a href="{{ path('app_inventory_deactivate', {id: product.id}) }}"
                               onclick="return confirm('Êtes-vous sûr de vouloir désactiver ce produit ?')">
                                <?xml version="1.0" ?><svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 16C9.80001 16 8.00001 14.2 8.00001 12C8.00001 9.8 9.80001 8 12 8C14.2 8 16 9.8 16 12C16 14.2 14.2 16 12 16ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z" fill="black"/><path d="M12 19C6.50001 19 3.30001 13.2 3.10001 13C2.90001 12.7 2.90001 12.3 3.10001 12C3.20001 11.8 6.50001 6 12 6C17.5 6 20.7 11.8 20.9 12C21.1 12.3 21.1 12.7 20.9 13C20.7 13.2 17.5 19 12 19ZM5.20001 12.5C6.00001 13.8 8.50001 17 12 17C15.5 17 18 13.8 18.8 12.5C18 11.2 15.5 8 12 8C8.50001 8 6.00001 11.2 5.20001 12.5Z" fill="black"/></svg>
                            </a>
                        {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ asset('build/js/searchArticle.js') }}"></script>

    <script>
        const addStockBtn = document.getElementsByClassName('addStockBtn');
        const removeStockBtn = document.getElementsByClassName('removeStockBtn');

        for (let i = 0; i < addStockBtn.length; i++) {
            addStockBtn[i].addEventListener('click', function() {
                const currentButton = addStockBtn[i];
                const productId = currentButton.getAttribute('data-id');

                $.ajax({
                    url: '{{ path('increment_stock') }}',
                    type: 'POST',
                    data: {
                        productId: productId,
                        incrementValue: 1
                    },
                    success: function (response) {
                        const stockElement = $("#stock_" + productId);
                        let currentStock = parseInt(stockElement.text());
                        currentStock += 1;
                        stockElement.text(currentStock);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        }


        for (let i = 0; i < removeStockBtn.length; i++) {
            removeStockBtn[i].addEventListener('click', function() {
                const currentButton = removeStockBtn[i];
                const productId = currentButton.getAttribute('data-id');

                $.ajax({
                    url: '{{ path('decrement_stock') }}',
                    type: 'POST',
                    data: {
                        productId: productId,
                        decrementValue: 1
                    },
                    success: function (response) {
                        const stockElement = $("#stock_" + productId);
                        let currentStock = parseInt(stockElement.text());
                        currentStock -= 1;
                        stockElement.text(currentStock);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        }
    </script>
{% endblock %}
